[mitm]
hostname = h5.if.qidian.com

[rewrite_local]
# > 起点读书获取Cookie
^https?:\/\/h5\.if\.qidian\.com\/argus\/api\/v1\/user\/getlogininfo url script-request-header https://raw.githubusercontent.com/Yuheng0101/X/main/Tasks/QDReader/qdreader.js

[task_local]
11 2 * * * https://raw.githubusercontent.com/Yuheng0101/X/main/Tasks/QDReader/qdreader.js, tag=起点读书自动签到, img-url=https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/97/40/5e/97405e49-87bb-3f0a-bf3a-91cf8fdf99a0/AppIcon-0-0-1x_U007epad-0-1-0-0-sRGB-GLES2_U002c0-85-220.png/144x144.png, enabled=true